/* Color Palette
-----------------------*/
/*#40788E - cup-color
  #9ba0a3 - table-color
  #a39a94 - plate-color
  #DBDDDE - text-color-light
  #23424E - text-color-dark
  #e2cab7 - coffe-color*/



/* Global styles
-----------------------*/
body {
  font-family: 'Montserrat', sans-serif;
  color: #DBDDDE;
}
a {
  color: #DBDDDE;
}
a:hover {
  text-decoration: none;
}
h1, h2 {
  font-family: 'Permanent Marker', cursive;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
}

/* Header and Footer
-----------------------*/
header, footer {
  background: #40788E;
}
header h1, header h2 {
  color: #e2cab7;
}

/* Work Experience
-----------------------*/
.work {
  background: #9ba0a3;
  color: #23424E;
}

/* Education
-----------------------*/
.education {
  background: #a39a94;
  color: #23424E;
}
